<footer class="footer">
    <div class="container">
    	<img src="https://www.mrddy.com/iptu/" style="width: 300px;"><br><b>您的ip：
    	<script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
<script type="text/javascript">
document.write(returnCitySN["cip"])
</script>
 已被记录，请合法使用，违者禁封IP且后果自负！</b>
        <p class="text-muted">Copyright Ⓒ 2020 <a href="https://www.mrddy.com">mrddy博客</a>. All rights reserved.</p>
    </div>
</footer>
</body>
<script crossorigin="anonymous" integrity="sha384-2ygunvo/8+5jHbmX6jq2xZ4G16m9hqh00nf4gRYO+Kll0X+PBRRP1x2OIzUz33i3"
    src="https://lib.baomitu.com/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
<script src="static/common/spop/spop.min.js"></script>
<script src="static/js/main.js"></script>
